<html>

<head>
  <title>Irish Lotto Picker</title>
  <meta charset="utf-8" />
  <meta name="robots" content="noodp" />
  <link rel="icon" type="image/png" href="./assets/img/logo/lotto.png">
  <link rel="canonical" href="https://robertjgabriel.github.io" />
  <link href="./dist/css/bootstrap/bootstrap.min.css" rel="stylesheet">
  <link href="./dist/css/bootstrap/material.min.css" rel="stylesheet">
  <link href="./dist/css/bootstrap/font.min.css" rel="stylesheet">
  <link href="./dist/css/style.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="Description" content="This plugin/Code gets the past 50 results from the Irish lotto results and orders then most likely to show up to least."
  />
  <style>
    @import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

  </style>

</head>

<body>
  <div id="app" class="everything">

    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-offset-3">
          <div class="row">
            <div>
              <h1 v-cloak>In the past
                <b>{{numberOfDraws}}</b> Irish Lotto draws</h1>
              <div class="loading fix fa-spin" v-show="loading"></div>

              <table class="table table-hover" v-if="loading == false">
                <thead>
                  <tr>
                    <th>Number</th>
                    <th>Appeared</th>
                    <th>Chance</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="item in frequency">
                    <td>{{ item['0'] }}</td>
                    <td>{{ item['1']}}</td>
                    <td>{{ ((item['1']/totalNumbers)*100).toFixed(2) }} %</td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-sm-3 col-md-offset-6">
            <i class="fa fa-cc-stripe" aria-hidden="true"></i>
        </div>
      </div>
    </div>

  </div>


  <script src="./assets/js/vendor/jquery.js"></script>
  <script src="./assets/js/vendor/vue.js"></script>
  <script src="./assets/js/vendor/vue-resouce.js"></script>
  <script src="./dist/js/app.min.js"></script>
</body>

</html>
